@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-item.active {
    background: linear-gradient(to right, #14b8a6, #0ea5e9);
    color: white;
}

.task-item {
    transition: all 0.3s;
}
.task-item:hover {
    transform: translateY(-2px);
}